.ant-layout-header {
  height: $nav-height;
  line-height: $nav-height;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-dropdown-menu-item {
  min-width: 150px;
}
