// 宽高
$nav-height: 60px;
$menu-open-width: 210px;

// 其他颜色
$border-olor: #b6b7b9;

// :export {
//   nav-height: $nav-height;
//   menu-open-width: $menu-open-width;

//   border-olor: $border-olor;
// }
